[submodule "Vendor/Bin2cpp"]
	path = Vendor/Bin2cpp
	url = https://github.com/Squashbit/Bin2cpp
[submodule "Tether.Rendering/Vendor/VMA"]
	path = Tether.Rendering/Vendor/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Tether.Rendering/Vendor/stb_image"]
	path = Tether.Rendering/Vendor/stb_image
	url = https://github.com/nothings/stb/
[submodule "Tether.Rendering/Vendor/freetype"]
	path = Tether.Rendering/Vendor/freetype
	url = https://github.com/freetype/freetype
[submodule "Tether.Rendering/Vendor/ImGui"]
	path = Tether.Rendering/Vendor/ImGui
	url = https://github.com/ocornut/imgui
