[submodule "Vendor/Bin2cpp"]
	path = Vendor/Bin2cpp
	url = https://github.com/Squashbit/Bin2cpp
[submodule "Vendor/VMA"]
	path = Vendor/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Vendor/stb_image"]
	path = Vendor/stb_image
	url = https://github.com/nothings/stb/
